#home .footer {
  p{
    color: $color-white;
    padding: 70px 0 0px 0;

    // @media (min-width: 992px){
    //   position: absolute;
    //   bottom: 30px;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   z-index: 1;
    //   padding: 70px 0 0px 0;
    // }
    
  }
}

.s-link{
  display: flex;
  justify-content: center;

  li{
    padding: 10px;

    a{
      font-size: 40px;
      color: rgba($color-light, .6);
      transition: all 0.2s linear;

      &:hover {
        color: rgba($color-light, 1);
      }
    }
  }
}

#term .s-link{
  li{
    padding: 0 10px 10px 10px;

    a{
      color: rgba($color-dark, .8);
      &:hover {
        color: rgba($color-dark, 1);
      }
    }
  }
}